<%- include("partials/header"); -%>

    <h1>Home</h1>
    <p><%= headerContent %></p>

    <a href="/compose">New entry</a>
    <% posts.forEach((post, index) => { %>
        <h3><%= post.title %></h3>
         <p><%= post.content.substring(100); %>...</p>
        <form action="/post" method="POST">
            <button name="postId" value=<%= index %>>Read more</button>
        </form>
    <% }) %>

<%- include("partials/footer"); -%>