<%- include("partials/header"); -%>

    <h1>Home</h1>
    <p><%= headerContent %></p>

    <a href="/compose">New entry</a>
    <% posts.forEach((post, index) => { %>
        <%- include("partials/postPartial", { post: post }); %>
        <form action="/post" method="POST">
            <button name="id" value=<%= index %>>Read more</button>
        </form>
    <% }) %>

<%- include("partials/footer"); -%>