<%- include("partials/header"); -%>

    <h1>Home</h1>
    <p><%= headerContent %></p>

    <a href="/compose">New entry</a>
    <% posts.forEach(post => { %>
        <h3><%= post.title %></h3>
        <p><%= post.text %></p>
    <% }) %>

<%- include("partials/footer"); -%>